.item{
    background-color: #f4eafd;
    padding: 0vh 1.5vh 0vh 0.5vh;
    height: fit-content;
    max-width: fit-content;
    border-radius: 4vh 4vh 4vh 4vh;
    margin-left: 2vw;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    border: none;
}
.item:hover{
    background-color: #eedcfd;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}
.main{
    background-color:#fdfdfd;
}
