.main {
    background-color: white;
    max-height: fit-content;
}

.results {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    border: none;
    background-color: white;

}

.btn:hover {
    background-color: rgb(231, 230, 230);
}

/* .cont {
    position: sticky;
    top: 1vh;
} */

.filter {
    /* display: none; */
    background-color: #F8F3FC;
    color: black;
    border: 1px solid #e8d3fa;
}
.top{
    display: none;
}
@media (max-width: 768px) {
    .filter {
        display: block;
        /* display: flex; */
        height: 6vh;
        width: 20vw;
    }
    .Img{
        height: 2vh;
        width: 2vh;
    }
    .top{
        display: block;
    }
    .icon{
        padding-top: 2px;
    }
}