
.heading{
    font-size: 6vh;
    font-weight: bold;
}
.center{
    color: blue;
}

.main{
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    gap: 1vw;
    background-color:#FAFAFA;;
}

.c1{
    flex:1
}
.c2{
    flex: 3;
}
.c3{
    flex: 1;
}