.item , .item2{
    background-color: #F8F3FC;
    padding: 1vh 3vh 1vh 3vh;
    height: fit-content;
    width: fit-content;
    border-radius: 4vh 4vh 4vh 4vh;
    margin-left: 2vw;    
    border: none;
}
.item:hover{
    background-color: #eedcfd;
}

.item2:hover{
    background-color: #eedcfd;
}

.modal{
    background-color: #F8F3FC;
}
.head{
    font-size: 2rem;
    font-weight: 700;
}
.greenbtn{
    background-color: #CCF7DD;
}

.greenbtn:hover{
    background-color: #95f9bd;
}

.archive{
    background-color: rgb(255, 107, 107);
}
.archive:hover{
    background-color: rgb(255, 28, 28);
}
@media (max-width: 768px) {
    /* Apply styles for screens wider than 768px */
    .responseImg{
        display: none;
    }
    .item{
        display: none;
    }
    .head{
        font-size: 1.5rem;
        font-weight: 600;
    }
}