.middle{
    display: flex;
    justify-content: center;
    width: 60vw;
    gap: 3vw;
}

.logo{
    margin-left: 1vw;
    margin-right: 6vw;
}

@media (max-width: 768px) {
    .nav{
        margin-left: 2vw;
    }
    .middle{
        margin-bottom: 2vw;
    }
}