.main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google, .github{
    border: 2px solid #3949AB;
    width: 30vw;
}

.google:hover{
    background-color: #808080;
}
.container{
    background-color: #ffffff;
    min-width: 50vw;
    max-width: 80vw;
    min-height: fit-content;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10vh;
    /* border: 2px solid #3949AB; */
}